@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Pacifico&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* Media Queries */
/* Default */
/* General */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.maincontainer {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Header */
.menu {
  position: absolute;
  width: 100vw;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .logo {
  width: 20%;
  padding: 16px;
}

.menu .logo img {
  width: 64px;
  height: 64px;
}

.menu ul {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
}

.menu ul a {
  padding: 16px;
  margin-left: 28px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.menu li {
  list-style: none;
}

@media (min-width: 320px) and (max-width: 374px) {
  .menu {
    position: static;
    height: 32px;
  }
  .menu .logo {
    padding: 5px 0px 0px 5px;
  }
  .menu .logo img {
    width: 24px;
    height: 24px;
  }
  .menu ul {
    padding: 5px 7px 0px 0px;
  }
  .menu ul a {
    padding: 5px 0px 0px 5px;
    font-size: 14px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .menu {
    position: static;
    height: 32px;
  }
  .menu .logo {
    padding: 5px 0px 0px 5px;
  }
  .menu .logo img {
    width: 24px;
    height: 24px;
  }
  .menu ul {
    padding: 5px 7px 0px 0px;
  }
  .menu ul a {
    padding: 5px 0px 0px 5px;
    font-size: 15px;
  }
}

@media (min-width: 425px) and (max-width: 539px) {
  .menu {
    position: static;
    height: 38px;
  }
  .menu .logo {
    padding: 6px 0px 0px 6px;
  }
  .menu .logo img {
    width: 24px;
    height: 24px;
  }
  .menu ul {
    padding: 6px 9px 0px 0px;
  }
  .menu ul a {
    padding: 5px 0px 0px 5px;
    font-size: 16px;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .menu {
    position: static;
    height: 40px;
  }
  .menu .logo {
    padding: 7px 0px 0px 7px;
  }
  .menu .logo img {
    width: 24px;
    height: 24px;
  }
  .menu ul {
    padding: 7px 10px 0px 0px;
  }
  .menu ul a {
    padding: 5px 0px 0px 5px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 819px) {
  .menu {
    height: 64px;
  }
  .menu .logo img {
    width: 52px;
    height: 52px;
  }
  .menu ul a {
    padding: 7px;
    font-size: 22px;
  }
}

@media (min-width: 820px) and (max-width: 1023px) {
  .menu {
    height: 64px;
  }
  .menu .logo img {
    width: 64px;
    height: 64px;
  }
  .menu ul a {
    padding: 7px;
    font-size: 22px;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .menu .logo img {
    width: 80px;
    height: 80px;
  }
  .menu ul a {
    font-size: 28px;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .menu .logo img {
    width: 96px;
    height: 96px;
  }
  .menu ul a {
    font-size: 30px;
  }
}

@media (min-width: 2048px) and (max-width: 2559px) {
  .menu .logo img {
    width: 112px;
    height: 112px;
  }
  .menu ul a {
    font-size: 40px;
  }
}

/* Main content */
.action_zone {
  width: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action_zone .text {
  width: 47.5%;
  background-color: #d1d1d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.action_zone .text h1 {
  width: 42%;
}

.action_zone .text a {
  width: 42%;
}

.action_zone .text #Trademark {
  font-family: 'Pacifico', cursive;
}

.action_zone .soda {
  width: 47.5%;
  background-color: #a7a7a7;
}

.action_zone .social {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action_zone .social li {
  width: 54px;
  height: 54px;
  list-style: none;
  margin: 28px 0px 28px 0px;
}

@media (min-width: 320px) and (max-width: 374px) {
  .action_zone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .action_zone .text {
    height: 42.5%;
    width: auto;
  }
  .action_zone .text h1 {
    width: 80%;
  }
  .action_zone .text a {
    width: 80%;
  }
  .action_zone .soda {
    height: 52.5%;
    width: auto;
  }
  .action_zone .social {
    height: 5%;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .action_zone .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .action_zone .social li {
    width: 22px;
    height: 22px;
    margin: 0px 12px 0px 12px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .action_zone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .action_zone .text {
    height: 42.5%;
    width: auto;
  }
  .action_zone .text h1 {
    width: 80%;
  }
  .action_zone .text a {
    width: 80%;
  }
  .action_zone .soda {
    height: 52.5%;
    width: auto;
  }
  .action_zone .social {
    height: 5%;
    width: auto;
  }
  .action_zone .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .action_zone .social li {
    width: 22px;
    height: 22px;
    margin: 0px 15px 0px 15px;
  }
}

@media (min-width: 425px) and (max-width: 539px) {
  .action_zone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .action_zone .text {
    height: 42.5%;
    width: auto;
  }
  .action_zone .text h1 {
    width: 80%;
  }
  .action_zone .text a {
    width: 80%;
  }
  .action_zone .soda {
    height: 52.5%;
    width: auto;
  }
  .action_zone .social {
    height: 5%;
    width: auto;
  }
  .action_zone .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .action_zone .social li {
    width: 22px;
    height: 22px;
    margin: 0px 15px 0px 15px;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .action_zone .text h1 {
    width: 95%;
  }
  .action_zone .text a {
    width: 95%;
  }
  .action_zone .social li {
    width: 22px;
    height: 22px;
    margin: 22px 0px 22px 0px;
  }
}

@media (min-width: 768px) and (max-width: 819px) {
  .action_zone .text h1 {
    width: 66%;
  }
  .action_zone .text a {
    width: 66%;
  }
  .action_zone .social li {
    width: 26px;
    height: 26px;
    margin: 28px 0px 28px 0px;
  }
}

@media (min-width: 820px) and (max-width: 1023px) {
  .action_zone .text h1 {
    width: 66%;
  }
  .action_zone .text a {
    width: 66%;
  }
  .action_zone .social li {
    width: 28px;
    height: 28px;
    margin: 28px 0px 28px 0px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .action_zone .text h1 {
    width: 60%;
  }
  .action_zone .text a {
    width: 60%;
  }
  .action_zone .social li {
    width: 36px;
    height: 36px;
    margin: 28px 0px 28px 0px;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .action_zone .social li {
    width: 58px;
    height: 58px;
    margin: 28px 0px 28px 0px;
  }
}

@media (min-width: 1600px) and (max-width: 2048px) {
  .action_zone .social li {
    width: 64px;
    height: 64px;
    margin: 36px 0px 36px 0px;
  }
}

@media (min-width: 2048px) and (max-width: 2560px) {
  .action_zone .social li {
    width: 70px;
    height: 70px;
    margin: 48px 0px 48px 0px;
  }
}
/*# sourceMappingURL=style.css.map */